.adv {
  background-color: $grey-bg;
  margin-bottom: 50px;
}

.adv__title {
  @include indents();
  @include font(14px, 18px, 400);
  font-family: 'Helvetica', 'Arimo', sans-serif;
  padding-top: 40px;
  margin-bottom: 21px;
}

.adv__img {
  display: block;
  padding-bottom: 39px;
}

@media (min-width: $desktop-width) {
  .adv {
    background-color: $grey-bg;
    margin-bottom: 50px;
  }
  
  .adv__title {
    margin-bottom: 20px;
  }
  
  .adv__img {
    display: block;
    padding-bottom: 40px;
  }
}