.quote__title {
  @include indents();
  @include font(2.3rem, 3.6rem, 700);
  font-family: 'Consolas', 'Inconsolata', monospace;
  margin-bottom: 21px;
}

.quote__title span {
  font-weight: 400;
}

.quote__blockquote {
  @include indents();
}

.quote__text {
  @include indents();
  @include font(1.4rem, 2.6rem, 400);
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: italic;
  color: #1A1A1A;
  background: url("../img/icon/quote.svg") no-repeat;
  padding-left: 4.5rem;
  margin-bottom: 2rem;
}

.quote__autor {
  @include indents();
  @include font(1.4rem, 2.6rem, 400);
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: italic;
  color: #656565;
  padding-left: 4.5rem;
}

@media (min-width: $desktop-width) {
  .quote__title {
    @include font(2.8rem, 3.6rem, 700);
    margin-bottom: 4rem 
  }

  .quote__text {
    @include font(1.8rem, 2.6rem, 400);
    background: url("../img/icon/quote.svg") no-repeat;
    background-size: 4.3rem 4.3rem;
    padding-left: 8rem;
  }

  .quote__autor {
    @include font(1.8rem, 2.6rem, 400);
    padding-left: 8rem;
    margin-bottom: 6rem;
  }
}