.slider {
  position: relative;
  width: 280px;
  height: 46rem;
}

.slider__slides {
  overflow: hidden;
  position: relative;
  width: 280px;
  height: 34.8rem;
  margin-bottom: 5rem;
}

.slider__slide {
  @include indents();
  position: absolute;
  display: block;
  opacity: 0;
  z-index: 0;

  transition: ease-in-out .5s;
  & img {
    display: block;
    width: 280px;
    margin-bottom: 1.5rem;
  }
}

.slider__sign {
  @include indents();
  @include font(1.8rem, 2.4rem, 700);
  font-family: 'Consolas', 'Inconsolata', monospace;
  color: #272522;
  width: 208px;
}

.slider label {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 400px;
  left: 100px;

  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  margin-right: 18px;

  &:first-child {
    margin-left: 100px;
  }
  &::after {
    content: " ";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    left: -3px;
    top: -2px;
    background-color: transparent;
    border-radius: 50%;
    transition: ease-in-out .2s;
  }
}

.slider__input2 + label {
  margin-left: 38px;
}

.slider__input3 + label {
  margin-left: 74px;
}

#slide1:checked + label::after,
#slide2:checked + label::after,
#slide3:checked + label::after {
  background: $blue;
}

#slide1:checked ~ .slider__slides > .slider__slide-slide1,
#slide2:checked ~ .slider__slides > .slider__slide-slide2,
#slide3:checked ~ .slider__slides > .slider__slide-slide3 {
  opacity: 1;
  z-index: 1;
}

@media (min-width: $desktop-width) {
  .slider {
    width: 770px;
    height: auto;
  }
  
  .slider__slides {
    width: auto;
    height: auto;
  }
  
  .slider__slide {
    position: static;
    display: inline-block;
    width: 221px;
    height: 221px;
    opacity: 1;
    margin-right: 26px;

    & img {
      width: 210px;
      margin-bottom: 1.9rem;
    }
  }
  
  .slider input {
    display: none;
  }
  
  .slider label {
    display: none;
  }
}
