$grey: #EDEDED;
$blue: #0062FF;
$desktop-width: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

@mixin indents {
    margin: 0;
    padding: 0;
}

@mixin font ($font-size, $line-height, $font-weight: 400) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}